.page {
  font-family: Arial, Helvetica, sans-serif;
}
.checkboxes {
  display: flex;
  flex-direction: column;
}
.club {
  border: 2px solid palevioletred;
  width: fit-content;
  border-radius: 5px;
}
.clubTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
