:root {
  --dark-color: #8c4af6;
  --medium-color: #b089f6;
  --light-color: #d7c0f6;
  --title-font: "Pacifico", cursive;
}
.page {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-color);
}
.page-title {
  font-family: var(--title-font);
}
.checkboxes {
  display: flex;
  flex-direction: column;
}
.club {
  border: 2px solid palevioletred;
  background-color: var(--medium-color);
  width: fit-content;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  margin: 10px 10px 10px 10px;
}
.clubTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
