// colors

$dark-color: #8c4af6;
$medium-color: #b089f6;
$light-color: #d7c0f6;
$color-titles: #1d0e35;
$color-accents: #dc143c;

// fonts

$page-title-font: "Pacifico", cursive;
$page-font: "Poiret One", cursive;
$page-font2: "Roboto", sans-serif;
